body {
background-color: rgb(255, 255, 255) ;
}
.title{
	color : rgb(38, 122, 179);
}

/* Corpo do texto*/
#bodytext {
	background-color: rgb(255, 255, 255);
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
li{
    margin: 10px 0;
	}

h3{
	color: rgb(38, 122, 179);
	font-size: 25px;
}

#espaço{
	width: auto;
	height: 50px;
}
	
/* Estilo das imagens*/
#figure1{
width: 430px;
height: 300px;
}

#fonte{
	font-size : 12px;
}
